.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}

.banner {
    margin-top: 200px;
}

.box_container {
    flex-grow: 1;
    margin-top: 70px;

    align-self: center;
}

@media only screen and (min-width: 600px) {
    .box_container {
        width: 1000px;
    }
}
.feed_container {
    margin: 5px;
    padding: 5px;
}
.about_container {
    margin: 5px;
    padding: 5px;
}
