.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}

.banner {
    margin-top: 200px;
}

.box_container {
    flex-grow: 1;
    margin-top: 70px;
    width: 1000px;
    align-self: center;
}
.feed_container {
    margin: 5px;
    padding: 5px;
}
.about_container {
    margin: 5px;
    padding: 5px;
}
