.wrapper {
    display: flex;
    align-items: center;
}
.iconsLeft {
    display: flex;
    align-items: center;
}
.iconsRight {
    display: flex;
    align-items: center;
}
.freeBtn {
    margin-left: 20px;

    border-radius: 50px;
}
